.profile-container {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.profile-container h1 {
  margin-bottom: 20px;
}

.profile-container h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.profile-info p {
  margin: 5px 0;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.profile-form button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.change-password-btn {
  background-color: #28a745; /* zielony */
  color: white;
}

.deactivate-btn {
  background-color: #dc3545; /* czerwony */
  color: white;
  margin-top: 10px;
}
